body{
    margin: 0;
    font-family: sans-serif;
}

.footnote{
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.25;
    font-size: 15px;
    text-align: right;
}

.slide{
    display: none;
    height: 100%;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.slide.visible{
    display: flex;
}

/**************************************

FLEX HELPERS

**************************************/

.flex{
    display: flex;
}

.flex.row{
    flex-direction: row;
}

.flex.column{
    flex-direction: column;
}

.flex.start-start{
    justify-content: flex-start;
    align-items: flex-start;
}

.flex.start-center{
    justify-content: flex-start;
    align-items: center;
}

.flex.start-end{
    justify-content: flex-start;
    align-items: flex-end;
}

.flex.start-baseline{
    justify-content: flex-start;
    align-items: baseline;
}

.flex.start-stretch{
    justify-content: flex-start;
    align-items: stretch;
}

.flex.center-start{
    justify-content: center;
    align-items: flex-start;
}

.flex.center-center{
    justify-content: center;
    align-items: center;
}

.flex.center-end{
    justify-content: center;
    align-items: flex-end;
}

.flex.center-baseline{
    justify-content: center;
    align-items: baseline;
}

.flex.center-stretch{
    justify-content: center;
    align-items: stretch;
}

.flex.end-start{
    justify-content: flex-end;
    align-items: flex-start;
}

.flex.end-center{
    justify-content: flex-end;
    align-items: center;
}

.flex.end-end{
    justify-content: flex-end;
    align-items: flex-end;
}

.flex.end-baseline{
    justify-content: flex-end;
    align-items: baseline;
}

.flex.end-stretch{
    justify-content: flex-end;
    align-items: stretch;
}

.flex.space-between-start{
    justify-content: space-between;
    align-items: flex-start;
}

.flex.space-between-center{
    justify-content: space-between;
    align-items: center;
}

.flex.space-between-end{
    justify-content: space-between;
    align-items: flex-end;
}

.flex.space-between-baseline{
    justify-content: space-between;
    align-items: baseline;
}

.flex.space-between-stretch{
    justify-content: space-between;
    align-items: stretch;
}

.flex.space-around-start{
    justify-content: space-around;
    align-items: flex-start;
}

.flex.space-around-center{
    justify-content: space-around;
    align-items: center;
}

.flex.space-around-end{
    justify-content: space-around;
    align-items: flex-end;
}

.flex.space-around-baseline{
    justify-content: space-around;
    align-items: baseline;
}

.flex.space-around-stretch{
    justify-content: space-around;
    align-items: stretch;
}

.flex.grow{
    flex: 1;
}